body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
  width: 100%;
  height: 100vh;
}

.background-image {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  pointer-events: none;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 35%;
  text-align: center;
}

.title, .subtitle {
  font-weight: bold;
  color: aliceblue;
}

.title > span {
  color: wheat;
}

.profile-image {
  height: 150px;
  border-radius: 50%;
}

.right-arrow {
  height: 12px;
}

.about-section , .skills-section , .contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4rem;
}

.contact-section {
  margin-bottom: 2rem;
  
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  margin: 1rem;
}

.first-skill, .second-skill {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}

.skills-container img {
  height: 80px;
}

.about-description {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.about-section > a {
  text-decoration: none;
  color: rgb(56, 100, 138);
}

.heading {
  color: rgb(178, 87, 201);
  font-size: 2rem;
  font-weight: bold;
}

.mail-button {
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: rgb(105, 144, 170);
  color: white;
}

footer {
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 2rem;
  font-size: smaller;
}

footer > a {
  color: rgb(156, 78, 143);
  text-decoration: none;
  margin: 5px;
}

@media (max-width: 320px) {
  .hero-section {
    width: 100%;
    height: 50vh;
  }

  .background-image {
    width: 100%;
    height: 50vh;
  }

  .hero-text {
    top: 22%;
    left: 22%;
    font-size: 0.5rem;
  }

  .about-section {
    padding: 1rem;
  }
  
  .about-description {
    margin-bottom: 1rem;
  }

  .about-section , .skills-section , .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
  }

  .contact-section {
    margin-bottom: 2rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0.3rem;
  }

  .first-skill, .second-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero-section {
    width: 100%;
    height: 60vh;
  }

  .background-image {
    width: 100%;
    height: 60vh;
  }

  .hero-text {
    top: 25%;
    left: 25%;
    font-size: 0.5rem;
  }

  .about-section {
    padding: 2rem;
  }
  
  .about-description {
    margin-bottom: 1rem;
  }

  .about-section , .skills-section , .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
  }

  .contact-section {
    margin-bottom: 2rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-skill, .second-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero-section {
    width: 100%;
    height: 70vh;
  }

  .background-image {
    width: 100%;
    height: 70vh;
  }

  .hero-text {
    top: 30%;
    left: 23%;
    font-size: 0.6rem;
  }

  .about-section {
    padding: 2rem;
  }
  
  .about-description {
    margin-bottom: 1rem;
  }

  .about-section , .skills-section , .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
  }

  .contact-section {
    margin-bottom: 2rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-skill, .second-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}


@media (min-width: 426px) and (max-width: 768px) {
  .hero-section {
    width: 100%;
    height: 70vh;
  }

  .background-image {
    width: 100%;
    height: 70vh;
  }

  .hero-text {
    top: 30%;
    left: 30%;
    font-size: 0.8rem;
  }

  .about-section {
    padding: 2rem;
  }
  
  .about-description {
    margin-bottom: 2rem;
  }

  .about-section , .skills-section , .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .contact-section {
    margin-bottom: 2rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-skill, .second-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}